{% assign collection = collections['all'] %}
{{collection.title}}

<ul>
{% for product in collection.products %}
  {% unless section.settings.hide_soldout != false and product.available != true %}
  <li>
    <a style="color:{{settings.link_color}}" href={{product.url}} >
    {{product.title}} - {{product.price | money}}
      {% if product.available != true %}
      	(SOLD OUT)
      {% endif %}
    </a>
  </li>
  {% endunless %}
{% endfor %}
</ul>

{% schema %}
  {
    "name": "Section name",
    "settings": [{
		"type": "checkbox",
		"id": "hide_soldout",
		"label": "Hide Sold Out Products",
		"default": false
		
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
